$color-white: #fff;
$color-light: #FCFAE6;
$color-medium: #E7E9D1;
$color-medium_darker: #D3D4AA;
$color-dark: #BABA96;
$color-stone: #444444;
$color-red: #901808;

$font-size-xxl: 4.8em;
$font-size-xl: 3.6em;
$font-size-lg: 2.4em;
$font-size-md: 1.8em;
$font-size-sm: 1.2em;

$width-std: 50vw;
$width-wide: 92.5vw;

$padding-sm: 20px;
$padding-lg: 40px;
$padding-xl: 80px;

$letter-spacing: 0.2em;
$line-height: 1.8;